.blockforScanner{
    position: fixed;
    backdrop-filter: blur(6px);
    height: 350px;
    width: 400px;
    z-index: 5;
    margin: 0 auto;
}
.rootcontaioner {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 24px;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    margin: 0 auto;
    background: var(--Base-Base-Black, #141414);
    overflow: hidden;
}

.containerrow {
    width: 1440px;
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 24px;
}

.boxlogo {
    display: flex;
    flex-direction: row;
    display: inline-flex;
    height: 60px;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
}

.boxlogo {
    display: flex;
    flex-direction: row;
}

.boxlogoopen {
    display: flex;
    flex-direction: row;
}

.boxlogotextcrm {
    width: 160px;
    display: flex;
    flex-direction: row;
    gap: 11px;
}

.boxleft {
    width: 330px;
    height: 100%;
    flex-shrink: 0;
    border-radius: 40px;
    background: var(--Background-Section, #191919);
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxleftclosed {
    flex-shrink: 0;
    border-radius: 40px;
    background: var(--Background-Section, #191919);
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}


.boxlefttop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 202px;
}

.boxlefttopclosed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 316px;
}

.boxlogocrm {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.crm {
    width: 57px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid var(--Primary-Primary, #BA8AFF);
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.crm p {
    width: 55px;
    color: var(--Primary-Primary, #BA8AFF);
    font-family: Involve;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin-top: 2px;
    text-align: center;
}

.btns,
.btnsclosed {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.onebtn {
    display: flex;
    width: 282px;
    padding: 14px 30px;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    border: 1px solid var(--Neutrals-Neutrals1800, #5C5C5C);
    background: var(--COLORS-Neutral-500, #191716);
}

.onebtnclosedactiove {
    padding: 16px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    gap: 10px;
    border: 1px solid var(--Neutrals-Neutrals1800, #5C5C5C);
    background: var(--COLORS-Neutral-500, #191716);
}

.onebtnclosedactiove p {
    margin-top: 2px;
}

.onebtnclosednoactiove {
    padding: 16px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    gap: 10px;
}

.onebtnclosednoactiove p {
    color: var(--COLORS-White-Magnolia-100, #FCF7FF);
    font-family: Involve;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: row;
}


.onebtnactiove {
    padding: 16px;
    height: 54px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 60px;
    border: 1px solid var(--Neutrals-Neutrals1800, #5C5C5C);
    background: var(--COLORS-Neutral-500, #191716);
}

.onebtnnoactiove {
    padding: 16px;
    height: 54px;
    gap: 10px;
    display: flex;
    align-items: center;
    border-radius: 60px;
}


/* .logoimage{
    width: 157px;
    height: 57px;
}

.logoimageclosed{
    width: 58px;
    height: 58px;
} */

.logoutclosed {
    display: flex;
    padding: 14px 30px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 60px;
}

.onebtnclosed img,
.logoutclosed img {
    width: 24px;
    height: 24px;
}

.logout {
    display: flex;
    width: 282px;
    padding: 14px 30px;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
}

.boxright {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background: var(--Background-Section, #191919);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 38px 96px;
    overflow-y: scroll;
}


.boxrowinfocashier {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 78px;
    align-items: center;
}

.boxrowinfocashier h1 {
    color: var(--COLORS-White-Magnolia-100, #FCF7FF);
    font-family: Involve;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 161.8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.boxdateh1 {
    display: flex;
    padding: 14px 12px;
    align-items: center;
    gap: 14px;
    border-radius: 60px;
    border: 0.5px solid rgba(255, 255, 255, 0.50);
    background: var(--COLORS-Neutral-500, #191716);
    height: 42px;
}

.boxdateh1 {
    color: var(--Base-Base-White, #FFF);
    font-family: Involve;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.boxavatarname {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.infocashier {
    display: flex;
    width: 282px;
    height: 78px;
    padding: 14px 12px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 60px;
    border: 1px solid var(--Neutrals-Neutrals1800, #5C5C5C);
    background: var(--COLORS-Neutral-500, #191716);
    color: var(--Base-Base-White, #FFF);
    font-family: Involve;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.infocashier img {
    border-radius: 50px;
    border: 0.5px solid var(--Neutrals-Neutrals1200, #939393);
}

.cashier {
    display: flex;
    padding: 6px 4px;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    border-radius: 30px;
    background: var(--Primary-Primary, #BA8AFF);
}

.cashier p {
    color: var(--Primary-Primary1000, #6100EB);
    font-family: Involve;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.maincashier {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.boxfastinstrument {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 22px;
}


.boxrowfastinstrument {
    margin-top: 28px;
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: flex-start;
}

.boxscanicon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.boxscanicon h1 {
    color: var(--COLORS-White-Magnolia-100, #FCF7FF);
    font-family: Involve;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    margin-top: 2px;
}

.boxvibordata {
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.boxvibordata p {
    color: var(--Neutrals-Neutrals1000, #A5A5A5);
    font-family: Involve;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}


.miniboxvibordate {
    display: flex;
    align-items: center;
    gap: 4px;
}

.boxvibratdatu {
    display: flex;
    padding: 8px 12px;
    align-items: center;
    gap: 8px;
    border-radius: 60px;
    border: 0.5px solid rgba(255, 255, 255, 0.50);
    background: var(--COLORS-Neutral-500, #191716);
}

.boxrowwingets {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxonewidget {
    display: flex;
    width: 307px;
    height: 124px;
    padding: 22px 19px;
    align-items: center;
    gap: 12px;
    border-radius: 34px;
    border: 0.5px solid rgba(255, 255, 255, 0.50);
    background: var(--Neutrals-Neutrals2500, #1D1D1D);
}

.boxonewidgettext {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.boxonewidget p {
    color: var(--Base-Base-White, #FFF);
    font-family: Involve;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.boxonewidget h2 {
    color: var(--Base-Base-White, #FFF);
    font-family: Involve;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
}


.boxtreydsuka {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.boxtreydsuka p {
    color: var(--Success-Success, #A4F4BC);
    font-family: Involve;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}

.boxstatistic {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 30px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 40px;
    border: 0.5px solid rgba(255, 255, 255, 0.50);
    background: var(--Neutrals-Neutrals2500, #1D1D1D);
    position: relative;
}

.boxrowstatustic {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.boxrowstatandsort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.boxline,
.boxline canvas {
    width: 100%;
    height: 509px;
}


.boxcolsortopen {
    display: flex;
    flex-direction: column;
    align-items: end;
}


.boxsort {
    display: inline-flex;
    padding: 8px 12px;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    border: 1px solid var(--Neutrals-Neutrals1800, #5C5C5C);
    background: var(--COLORS-Neutral-500, #191716);
    cursor: pointer;
}

.boxsort p {
    color: var(--Neutrals-Neutrals1100, #9C9C9C);
    font-family: Involve;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.boxsort b {
    color: var(--Neutrals-Base-White, #FFF);
    font-family: Involve;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.boxopensort {
    display: flex;
    padding: 12px 8px;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    border-radius: 24px;
    background: var(--COLORS-Neutral-500, #191716);
    position: absolute;
    z-index: 10;
}

.boxopensort button {
    display: flex;
    padding: 8px 12px;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    background: var(--COLORS-Neutral-500, #191716);
    border: 1px solid var(--COLORS-Neutral-500, #191716);
    transition: 0.3s;
    cursor: pointer;
}

.boxopensort button:hover {
    border-radius: 60px;
    border: 1px solid var(--Neutrals-Neutrals1800, #5C5C5C);
    background: var(--Neutrals-Neutrals2500, #1D1D1D);
    transition: 0.3s;
}

.boxrowstatusqr {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 24px;
}

.boxscanandstatusqr {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 24px 30px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: 0.5px solid rgba(255, 255, 255, 0.50);
    background: var(--Neutrals-Neutrals2500, #1D1D1D);
    height: 371px;
}

.boxscanandstatusqr h1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.boxfixedblock {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
    overflow-y: auto;
}

.boxscrollstat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    overflow-y: scroll;
}


.boxscrollstat::-webkit-scrollbar {
    width: 4px;
}

.boxscrollstat::-webkit-scrollbar-track {
    background: #656565;
    border-radius: 10px; 
}

.boxscrollstat::-webkit-scrollbar-thumb {
    width: 8px;
    background:  var(--Base-Base-White, #FFF);; 
    border-radius: 10px; 
}

.boxscrollstat::-webkit-scrollbar-thumb:hover {
    background: #a0a0a0; 
}


.boxonestat {
    width: 100%;
    display: flex;
    padding: 13px 10px;
    align-items: center;
    border-radius: 24px;
    background: var(--Background-Section, #191919);
    gap: 124px;
}

.boxonestat p {
    color: #FFF;
    font-family: Involve;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.boxtwostat {
    display: flex;
    padding: 7px 10px;
    align-items: center;
    gap: 145px;
    align-self: stretch;
    border-radius: 24px;
    background: var(--Background-Section, #191919);
}

.boxtwostat p {
    color: #FFF;
    font-family: Involve;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
}

.boxstatusqrcontent {
    display: flex;
    width: 411px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14.118px;
    border-radius: 32px;
    background: var(--Neutrals-Neutrals2500, #1D1D1D);
    position: relative;
}

.boxqrimgandtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.btncamera {
    display: inline-flex;
    padding: 8px 14px;
    align-items: center;
    gap: 24px;
    border-radius: 60px;
    background: var(--Background-Section, #191919);
}

.btnscan {
    display: flex;
    width: 219px;
    height: 40px;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 60px;
    background: var(--Primary-Primary600, #9B55FF);
}

.boxcameras {
    display: flex;
    width: 256px;
    padding: 12px 14px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    border-radius: 20px;
    background: var(--Background-Section, #191919);
    position: absolute;
}

.onecamera {
    display: flex;
    align-items: center;
    gap: 10px;
}

.boxrootbtncamera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.boxsucsesserror,
.imgstatusscan {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.boxscansucsess {
    display: flex;
    padding: 4px 6px;
    align-items: center;
    flex-direction: row;
    gap: 4px;
    border-radius: 999px;
    border: 0.5px solid var(--COLORS-Neutral-500, #191716);
    background: var(--Success-Success200, #C2F8D2);
    height: 32px;
}

.boxscansucsess p {
    color: var(--Success-Success600, #108834);
    font-family: Involve;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    margin-top: 2px;
}

.boxscanerror {
    display: flex;
    height: 32px;
    padding: 4px 6px;
    align-items: center;
    gap: 4px;
    border-radius: 999px;
    border: 0.5px solid var(--COLORS-Neutral-500, #191716);
    background: var(--Error-Error200, #FF7784);
}

.boxscanerror p {
    color: var(--Error-Error400, #A60010);
    font-family: Involve;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-top: 2px;
}

.boxrowh1reports {
    display: flex;
    width: 100%;
    height: 76px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.boxrowh1reports h1 {
    color: var(--COLORS-White-Magnolia-100, #FCF7FF);
    font-family: Involve;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 161.8%;
}

.boxdatatimeanddownload {
    display: flex;
    align-items: center;
    gap: 12px;
}

.boxdownload {
    display: flex;
    padding: 8px 12px;
    align-items: center;
    gap: 8px;
    border-radius: 60px;
    border: 1px solid var(--Neutrals-Neutrals1800, #5C5C5C);
    background: var(--COLORS-Neutral-500, #191716);
}

.salesreport {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.boxonereport {
    display: flex;
    width: 100%;
    height: 404px;
    padding: 24px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 0.5px solid rgba(255, 255, 255, 0.50);
    background: var(--Neutrals-Neutrals2500, #1D1D1D);
}

.boxrowsalesreport {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.boxh2report {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.downloadreport {
    display: flex;
    padding: 8px 12px;
    align-items: center;
    gap: 8px;
    border-radius: 60px;
    border: 1px solid var(--Neutrals-Neutrals1800, #5C5C5C);
    background: var(--COLORS-Neutral-500, #191716);
}

@media screen and (max-width:1440px) {
    .rootcontaioner {
        width: 1440px;
        margin: 0 auto;
    }

    .containerrow {
        width: 1440px;
    }
}

@media screen and (min-width:1920px) {
    .rootcontaioner {
        width: 100%;
        height: 100%;
        margin: 0 auto;

    }

    .containerrow {
        width: 1920px;
    }
}

@media screen and (max-width:1920px) {
    .containerrow {
        width: 100%;
    }
}